@charset "utf-8";
body {
	background-color: #009BFF;
}
.mainlink {
	background-color: #0065A6;
	text-align: center;
	vertical-align: middle;

}
.b1 {
	color: #FFFFFF;
	font-size: xx-large;
	text-decoration: none;
	background-color: #2AACFF;
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	margin-right: 6px;
}
h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 4em;
	text-align: center;
	padding-top: 20px;
	margin: 0;
	Height: 100px;
	background-color: #0065A6;
	min-width: 500px;
	border-top-color: #FFF500;
	border-bottom-color: #FFF500;
	border-top-width: thick;
	border-bottom-width: thick;
}


a:hover{ color: #9B4345;
	background-color: #3D7DA6;
}
